.config/hypr/source/animations/active/active.lua
user_scripts/tts_stt/horizon_kokoro/trigger.sh
user_scripts/tts_stt/horizon_whisper/trigger.sh
user_scripts/tts_stt/horizon_parakeet/trigger.sh
user_scripts/horizon_system/click_away_to_dismiss/hyprland-focus-grab-v1-client-protocol.h
user_scripts/horizon_system/click_away_to_dismiss/hyprland-focus-grab-v1-client-protocol.c
user_scripts/horizon_system/click_away_to_dismiss/libwaylandgrab.so
user_scripts/theme_matugen/firefox/config.json
.config/uwsm/env.d/
.config/zellij/themes/matugen.kdl
.config/foot/foot-colors.ini
