@-moz-document domain("web.telegram.org") {
    /* For A version of Telegram Web */
    html, body, html.theme-dark {
        --action-message-bg: var(--surface_container_low) !important;
        --color-chat-hover: var(--surface_container_high) !important;
        --color-chat-active: var(--primary_container) !important;
        --color-background-selected: var(--surface_container_high) !important;
        --color-text: var(--on_surface_variant) !important;
        --color-primary: var(--primary_container) !important;
        --color-primary-shade-rgb: var(--primary_container) !important;
        --theme-background-color: var(--surface) !important;
        --color-background: var(--surface) !important;
        --color-forum-hover-unread-topic-hover: var(--surface) !important;
        --color-forum-unread-topic-hover: var(--surface) !important;
        --color-gray: var(--surface_container_high) !important;
        --color-background-own: var(--primary_container) !important;
        --color-reply-own-hover: var(--on_primary) !important;
        --color-background-compact-menu: var(--surface_container_low) !important;
        --color-background-secondary: var(--surface_container_lowest) !important;
    }
}
