@-moz-document domain("instagram.com") {
    :root {
        --ig-primary-background: var(--surface_rgb) !important;
        --ig-primary-text: var(--on_surface_rgb) !important;
        --ig-primary-icon: var(--on_surface_rgb) !important;
        --ig-elevated-background: var(--surface_container_low_rgb) !important;
    }
    
    .x1q2y9iw, ._at8n, .x82u2s1, .xgf5ljw, .x7r02ix {
        background-color: var(--surface_container_low) !important;
    }
    
    /* Share */
    .xnz67gz {
        background-color: var(--surface_container_high) !important;
    }
    
    /* Story Background */
    .x5qyhuo {
        background-color: var(--surface) !important;
    }
}
