@-moz-document domain("web.whatsapp.com") {
    * {
        --WDS-neutral-gray-50: var(--on_surface) !important;
        --WDS-neutral-gray-900: var(--surface) !important;
        --WDS-background-wash-inset: var(--surface) !important;
        --WDS-background-elevated-wash-inset: var(--surface) !important;
        --WDS-content-default: var(--on_surface) !important;
        --WDS-surface-emphasized: var(--surface_container_low) !important;
        --WDS-surface-default: var(--surface) !important;
        --WDS-systems-chat-surface-composer: var(--surface_container_high) !important;
        --WDS-persistent-always-branded: var(--primary_fixed_dim) !important;
        --WDS-accent-deemphasized: var(--primary_container) !important;
        --WDS-systems-bubble-surface-outgoing: var(--surface_container) !important;
        --WDS-systems-bubble-surface-incoming: var(--surface_container_highest) !important;
        --WDS-surface-elevated-default: var(--surface_container_low) !important;
        --WDS-accent: var(--primary_fixed_dim) !important;
        --WDS-surface-elevated-emphasized: var(--surface_container_low) !important;
    }
}
