[Desktop Entry]
Type=Application
Name=Dusky Core Manager
GenericName=CPU Core Configurator
Comment=Configure CPU P-Cores and E-Cores online status
Exec=uwsm-app -- foot --app-id=dusky_tui python /home/dusk/user_scripts/dusky_tui/python/main/main.py /home/dusk/user_scripts/performance/cpu/tui_dusky_core_manager.py
Terminal=false
Categories=Settings;System;Utility;
Keywords=dusky;cpu;core;hotplug;manager;tui;
Icon=cpu
StartupNotify=true
StartupWMClass=dusky_tui
