[Desktop Entry]
Type=Application
Name=Dusky Hyprlock Theme Manager
GenericName=Lock Screen Theme Switcher
Comment=Switch Hyprlock configurations interactively
Exec=uwsm-app -- kitty --class dusky_hyprlock_switcher.sh -e /home/dusk/user_scripts/hyprlock/dusky_hyprlock_switcher.sh
Icon=preferences-desktop-screensaver
Terminal=false
Categories=Settings;DesktopSettings;Utility;
Keywords=dusky;hyprland;hyprlock;theme;config;
StartupNotify=false
