[Desktop Entry]
Type=Application
Name=Dusky Glance
GenericName=System Monitor & Timer
Comment=Rofi frontend for timers, pomodoro, and system stats
Exec=/home/dusk/user_scripts/rofi/dusky_glance.sh
Terminal=false
Categories=Utility;System;Settings;
Keywords=rofi;monitor;timer;pomodoro;clock;system;cpu;ram;
Icon=utilities-system-monitor
StartupNotify=true
