[Desktop Entry]
Type=Application
Name=dusky Toggle Hypridle
Comment=Enable/Disable Hypridle
Exec=uwsm-app -- /home/dusk/user_scripts/waybar/toggle_hypridle.sh
Terminal=false
Categories=System;
Keywords=dusky;hypridle;toggle;switch;
Icon=system-suspend
StartupNotify=true
