[Desktop Entry]
Type=Application
Name=Dusky Disk Monitor
GenericName=Disk IO Monitor
Comment=Real-time Disk I/O Monitoring
Exec=uwsm-app -- kitty --class dusky_disk_monitor_io.py -e /home/dusk/user_scripts/drives/dusky_disk_monitor_io.py
Terminal=false
Categories=System;Monitor;
Keywords=disk;io;read;write;monitor;
Icon=drive-harddisk
StartupNotify=true
