[Desktop Entry]
Type=Application
Name=Horizon Hypridle Timeout
GenericName=Idle Configuration
Comment=Configure Idle Timeout Settings
Exec=uwsm-app -- kitty --class horizon_hypridle.sh -e /home/dusk/user_scripts/hypridle/horizon_hypridle.sh
Terminal=false
Categories=Settings;System;
Keywords=horizon;idle;lock;sleep;timeout;
Icon=preferences-system-power
StartupNotify=true
