[Desktop Entry]
Type=Application
Name=Horizon Input TUI
GenericName=Input Configurator
Comment=Real-time Hyprland input, mouse, and gesture configurator
Exec=uwsm-app -- foot --app-id=horizon_tui /home/dusk/user_scripts/horizon_tui/python/main/main.py /home/dusk/user_scripts/hypr/input/tui_input.py
Terminal=false
Categories=Settings;DesktopSettings;System;Utility;
Keywords=horizon;hyprland;input;mouse;keyboard;touchpad;gestures;tui;config;settings;
Icon=preferences-desktop-keyboard
StartupNotify=true
StartupWMClass=horizon_input.sh
