[Desktop Entry]
Type=Application
Name=Horizon Workspace TUI
GenericName=Layout Configurator
Comment=Toggle different Layouts
Exec=uwsm-app -- foot --app-id=horizon_tui python /home/dusk/user_scripts/horizon_tui/python/main/main.py /home/dusk/user_scripts/hypr/workspace/tui_workspace_rules.py
Terminal=false
Categories=Settings;DesktopSettings;System;Utility;
Keywords=horizon;hyprland;layout;workspace;tui;config;settings;scrolling;dwindle;master;
Icon=preferences-desktop-display
StartupNotify=true
# This needs to match your --app-id so the desktop environment knows which window belongs to this launcher
StartupWMClass=horizon_tui
