[Desktop Entry]
Type=Application
Name=Horizon Core Manager
GenericName=CPU Core Configurator
Comment=Configure CPU P-Cores and E-Cores online status
Exec=uwsm-app -- foot --app-id=horizon_tui python /home/dusk/user_scripts/horizon_tui/python/main/main.py /home/dusk/user_scripts/performance/cpu/tui_horizon_core_manager.py
Terminal=false
Categories=Settings;System;Utility;
Keywords=horizon;cpu;core;hotplug;manager;tui;
Icon=cpu
StartupNotify=true
StartupWMClass=horizon_tui
