[Desktop Entry]
Type=Application
Name=Mako TUI
GenericName=Notification Configurator
Comment=Customize Notifications
Exec=uwsm-app -- foot --app-id=dusky_tui python /home/dusk/user_scripts/dusky_tui/python/main/main.py /home/dusk/user_scripts/mako_osd/mako_tui/tui_mako.py
Terminal=false
Categories=Settings;Notifications;System;Utility;
Keywords=dusky;mako;notifications;alert;dnd;notify;tui;config;settings;
Icon=preferences-system-notifications
StartupNotify=true
StartupWMClass=tui_mako
