[Desktop Entry]
Type=Application
Name=Music Recognition
GenericName=Song Identifier
Comment=Identify playing music using SongRec
Exec=uwsm-app -- kitty --hold --class music_recognition.sh -e /home/dusk/user_scripts/music/music_recognition.sh
Icon=audio-input-microphone
Terminal=false
Categories=Audio;AudioVideo;Utility;
Keywords=shazam;music;song;recognize;identify;
StartupNotify=false
