[Desktop Entry]
Type=Application
Name=Power Saver Mode
GenericName=Battery Saver
Comment=Enable Power Saving Mode (Prompt)
Exec=uwsm-app -- foot --app-id=dusky_tui /home/dusk/user_scripts/battery/power_saver.sh -e
Terminal=false
Categories=System;Settings;
Keywords=battery;power;save;energy;
Icon=battery-low
StartupNotify=true
