[Desktop Entry]
Type=Application
Name=Process Terminator
GenericName=Task Killer
Comment=Select and kill running processes
Exec=uwsm-app -- kitty --hold --class performance.sh -e /home/dusk/user_scripts/performance/services_and_process_terminator.sh
Terminal=false
Categories=System;Monitor;
Keywords=kill;process;task;end;
Icon=process-stop
StartupNotify=true
