[Desktop Entry]
Type=Application
Name=Rofi Calculator
GenericName=Calculator
Comment=Make Calculations right in Rofi
Exec=uwsm-app -- /home/dusk/user_scripts/rofi/calculator.sh
Terminal=false
Categories=Settings;Theme;
Keywords=numbers;math;calculations;calculator;
Icon=calc
StartupNotify=true
