# --- Scale Up ---
[Desktop Entry]
Type=Application
Name=Scale UI Up
Comment=Increase display scaling
Exec=uwsm-app -- /home/dusk/user_scripts/hypr/monitor/adjust_scale.py +
Terminal=false
Categories=Settings;
Icon=zoom-in
StartupNotify=true
