# --- Warp (Cloudflare) Toggle ---
[Desktop Entry]
Type=Application
Name=Toggle Warp
Comment=Toggle Cloudflare Warp Connection
Exec=uwsm-app -- /home/dusk/user_scripts/networking/warp_toggle.sh
Terminal=false
Categories=Network;
Icon=network-vpn
StartupNotify=true
